div.table-cfg, div.table-confirm {
    position: absolute;
    right: -28px;
    top: 0px;
}

div.table-cfg * .glyphicon, div.table-confirm * .glyphicon {
    padding: 5px;
}

div.table-panel * .table {
    margin-bottom: 0px;
}

div.table-panel > .panel-body {
    position: relative;
}

div.field-val {
    float:left;
    width:20px;
}
